.main_block {
  // display: grid;
  // grid-template-columns: repeat(2, 1fr); /* Три колонки одинаковой ширины */
  // gap: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 5%;
  height: 100vh;

  .image {
    position: relative;
    display: block;
    // width: 100%;
    // max-width: 400px;
    flex-basis: 400px;
    min-width: 280px;
    height: 500px;
    flex-grow: 1; 
  }

  .main_block_description {
    display: block;
    flex-basis: 500px;
    min-width: 370px;
    flex-grow: 1; 
    color: #655239;
    margin-left: 5%;
    // background-color: #8b7862;

    .artist_name {
      font-size: 40px;
      text-align: center;
      margin-bottom: 30px;
    }
    .artist_name__description {
      font-size: 20px;

      .icon_wrapper {
        display: inline-block;
        margin-left: 10px; /* Чтобы иконка не прилипала к тексту */
        vertical-align: bottom; /* Выравнивание по нижнему краю текста */
      }
    }
  }
}
