.main_block {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  min-height: 83vh;
  padding: 5%;

  .image {
    position: relative;
    flex: 1 1 280px; // Гибкое управление шириной: flex-grow, flex-shrink и flex-basis
    max-width: 400px; // Ограничиваем максимальную ширину элемента
    width: 100%; // Обеспечиваем, что элемент занимает всю доступную ширину в пределах своих границ
    height: 400px;
    overflow: hidden;
    border-radius: 5px;
    margin: 0px 15px 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    float: left;

    .main_image {
    }
  }

  @media (max-width: 767px) {
    .image {
      width: 150px;
      height: 150px;
    }
  }
  @media (max-width: 381px) {
    .image {
      float: right;
      width: 130px;
      height: 80px;
    }
  }

  .main_block_description {
    flex: 1 1 500px;
    color: #655239;
    // min-width: 343px;
    // background-color: #c7ae92;

    .artist_name {
      font-size: 1.8rem;
      text-align: left;
      margin-bottom: 10px;
    }
    .artist_hobby {
      font-size: 15px;
      text-align: left;
      margin-bottom: 30px;
      text-transform: uppercase;
    }
    .artist_name__description {
      // font-size: 20px;
      font-size: 1.4rem;

      .icon_wrapper {
        display: inline-block;
        margin-left: 10px; /* Чтобы иконка не прилипала к тексту */
        vertical-align: bottom; /* Выравнивание по нижнему краю текста */
      }
    }
  }

  @media (min-width: 768px) {
    .main_block_description {
    }
  }
}
@media (max-width: 767px) {
}

// .main_block {
//   // grid-template-columns: repeat(2, 1fr); /* Три колонки одинаковой ширины */
//   gap: 20px;
//   display: flex;
//   justify-content: space-around;
//   flex-wrap: wrap;
//   align-items: flex-start;
//   margin: 0 auto;
//   width: 100%;
//   max-width: 1200px;
//   padding: 5%;

//   .image {
//     position: relative;
//     flex: 1 1 280px; // Гибкое управление шириной: flex-grow, flex-shrink и flex-basis
//     max-width: 400px; // Ограничиваем максимальную ширину элемента
//     width: 100%; // Обеспечиваем, что элемент занимает всю доступную ширину в пределах своих границ
//     height: 400px;
//     overflow: hidden;
//     border-radius: 5px;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

//   }

//   .main_block_description {
//     flex: 1 1 500px;
//     color: #655239;
//     background-color: #c7ae92;

//     .artist_name {
//       font-size: 30px;
//       text-align: left;
//       margin-bottom: 10px;
//     }
//     .artist_hobby {
//       font-size: 15px;
//       text-align: left;
//       margin-bottom: 30px;
//       text-transform: uppercase;
//     }
//     .artist_name__description {
//       font-size: 20px;

//       .icon_wrapper {
//         display: inline-block;
//         margin-left: 10px; /* Чтобы иконка не прилипала к тексту */
//         vertical-align: bottom; /* Выравнивание по нижнему краю текста */
//       }
//     }
//   }
// }
