.type_pictures {
  display: grid;
  align-items: center;
  gap: 15px;
  width: 100%;
  min-height: 83vh;
  font-size: 20px;
  padding: 10px 20px;

  .link {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
    border-radius: 5px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
    .name {
      text-align: center;
      font-size: 30px;
    }
  }
}

@media (min-width: 370px) {
  .type_pictures {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .type_pictures {
    grid-template-columns: repeat(3, 1fr);
  }
}
