.main_block {
  display: block;
  width: 100%;
  min-height: 83vh;
  padding: 3% 5%;

  .form_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 500px;
    border-radius: 10px;
    background-color: rgb(48, 48, 48);

    .input_box__header {
      font-size: 25px;
      width: 100%;
      text-align: center;
      padding: 2%;
    }

    .form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 5%;

      >* {
        margin: 5px 0;
      }

      label{
        color: var(--fontform_lable-color);
      }

      *::placeholder{
        color: var(--font-color);
      }
    }
  }
}
